body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #EFF6FF;
    color: #2A4A5C;
    font-family: Barlow-Black;
    padding: 3em;
}

div.right {
    background: url(./img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

div.left {
    width: 50%;
    padding: 3em;
    background-color: white;
    align-items: center;
    box-sizing: border-box;

}

div.right,
div.left {
    margin: 0;
}

h2,
h1 {
    color: #7B8A92;
}

p.select,
p {
    color: #96A5B1;
}

button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    min-width: 210px;
}

button img[src$=".svg"] {
    width: 10px;
    height: 10px;
    margin-right: 12px;
    flex-shrink: 0;
    display: block;
}

button.facebook {
    background-color: #255A9B;
}

button.linkedin {
    background-color: #0076B6;
}

button.account {
    background-color: #3698FB;
    min-width: 140px;
}

div.button {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

img.logo {
    width: 70px;
    height: 70px;
    padding-left: 15px;
}

.hrc {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.phr {
    justify-content: space-around;
}
.line {
    flex: none;
    border: none;
    background-color: grey;
    height: 1px;
    width: 100px;
    margin: 0;
    justify-content: center;
}

.text {
    white-space: nowrap;
    padding: 0 10px;
    margin-top: -0.5em;
}

.line,
.text {
    vertical-align: middle;
}

div.in {
    display: inline-flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    min-width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e1eaf1;
}

.in input {
    padding: 5px;
}

input#tel:focus,
input#email:focus {
    border-left: 2px solid #007bff;
    outline: none;
}

.info label {
    color: rgb(121, 118, 118); 
    border-left: 2px solid transparent;
    padding-left: 10px;   
}

input#email, input#tel {
    border:none;
    min-width: 300px;
    outline: none;
    box-sizing: border-box;
}

.info:has(input#email:focus) label,
.info:has(input#tel:focus) label {
    color: #007bff;
    border-left-color: #007bff;
    color: rgb(121, 118, 118);
}

form.list {
    justify-content: space-between;
}

input[type="radio"],
label, .info-icon {
    vertical-align: middle;
}

input[type="radio"] {
    margin-right: -25px;
}

.radiogroup {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.radiogroup label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radiotext .text {
    padding: 10px;
    width: fit-content;
    min-width: 150px;
    border: 1px solid #EEEEEE;
    color: #AFAFAF;
    gap: 40px;
    display: none;
}
form.list:has(#Individual:checked) .Individual,
form.list:has(#Business:checked) .Business,
form.list:has(#IRA:checked) .IRA,
form.list:has(#Trust:checked) .Trust {
    display: block;
}


.info-icon {
  font-size: 0.7em;     
  color: grey;
  margin-left: -25px;
}

div.check {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

input[type="checkbox"] p {
    vertical-align: middle;
}




