body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #EFF6FF;
    color: #2A4A5C;
    font-family: Barlow-Black;
    padding: 2em;
}

div.in {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.in input {
    padding: 8px;
    border-color: #EFF6FF;
}

button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    min-width: 210px;
}

button img[src$=".svg"] {
    width: 10px;
    height: 10px;
    margin-right: 12px;
    flex-shrink: 0;
    display: block;
}

button.facebook {
    background-color: #255A9B;
}

button.linkedin {
    background-color: #0076B6;
}

button.account {
    background-color: #3698FB;
    min-width: 140px;
}

div.right {
    background: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

div.left {
    width: 50%;
    padding: 2em;
    background-color: white;
    align-items: center;
    box-sizing: border-box;

}

div.right,
div.left {
    margin: 0;
}

div.button {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

img.logo {
    width: 70px;
    height: 70px;
    padding-left: 15px;
}

form.list {
    display: flex;
    justify-content: space-between;
}

input[type="radio"],
label {
    vertical-align: middle;
    padding-left: 2px;
}

.put {
    display: none;
    margin-top: 5px;
    color: #AFAFAF;
    font-style: italic;
}

input[type="radio"]:checked~.put {
    display: block;
    border: 1px solid gray;
    padding: 10px;
    height: 1em;
}

div.check {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

input[type="checkbox"] p {
    vertical-align: middle;
}

h2,
h1 {
    color: #7B8A92;
}

p.select,
p {
    color: #96A5B1;
}


input:focus {
    border-left: 2px solid #007bff;
}

.hrc {
    display: flex;
    justify-content: center;
    margin: 30px;

}

.line {
    flex: none;
    border: none;
    background-color: grey;
    height: 1px;
    width: 100px;
    margin: 0;
    justify-content: center;
}

.text {
    white-space: nowrap;
    padding: 0 10px;
    margin-top: -0.5em;
}

.line,
.text {
    vertical-align: middle;
}

.info {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    border: 1px solid #d9dfe0;
}

.info label {
    margin-bottom: 0;     
    font-weight: bold;
    color: #7B8A92;    
}

input#email, input#tel {
    border:none;
    width: 28em;
}
